html{
    background: #4e4d4d;
    
}


body{
    background: radial-gradient(circle at 36.97% 42.48%, #ffffff 0, #ffffff 16.67%, #fff9fb 33.33%, #eeeeee 50%, #dbe3e0 66.67%, #cad8d3 83.33%, #bacec6 100%);
}

header{
    background: radial-gradient(circle at 36.97% 42.48%, #ffffff 0, #ffffff 16.67%, #fff9fb 33.33%, #eeeeee 50%, #dbe3e0 66.67%, #cad8d3 83.33%, #bacec6 100%);
}

/* .container{
    background: #f8f9fa;

} */


/* Iniciamos Footer */
footer{
    display: flex;
    align-items: flex-start;
    gap: 30px;
    margin: 0 30px;
    color: black;
}

footer img{
    margin-top: 10%;
}

footer.top {
    border-bottom: 2px solid black;
    padding-bottom: 20px;
}

footer.top .links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}

footer.top .links  a {
    text-decoration: none;
}

footer.bottom {
    padding: 20px 0;
    justify-content: space-between;
}

footer .links > div {
    display: grid;
    gap: 10px;
    margin-bottom: 30px;
}

footer h2{
    margin: 10px;
    font-size: 16px;
    font-weight: 400;
    color: black;
}

footer .legal{
    font-size: 12px;
    align-items: center;
}

footer .legal > a {
    margin: 0 4px;
    text-decoration: none;
    color: black;
}
footer .legal > span {
    margin-right: 10px;
}
footer.bottom .links {
    display: flex;
    gap: 18px;
}
/* Responsividad del footer */
@media (width < 620px) { 
    footer{
        flex-direction: column;
    }
    footer.bottom {
        gap: 16px;
        flex-direction: column-reverse;
    }
}
@media (width >= 620px) {
    footer{
        margin: 0 auto;
        max-width: 600px;
        padding: 0;
    }
}
footer.bottom .links > a {
    font-size: 24px;
}
@media (width < 420px) {
    footer{
        text-align: center;
        align-items: center;
    }
    footer.top .links {
        grid-template-columns: 1fr;
    }
    footer.bottom { 
        align-items: center;
    }
    footer.legal > span {
        display: block;
        margin-right: 0;
        margin-bottom: 2px;
    }
    footer img{
        margin-top: 10%;
    }
}
/* dejamos las imagenes fijas del carrusel */
.c-item{
    height: 817px;
}
/* La imagen ocupa el 100% del total del cuadro */
.c-img{
    height: 100%;   
    object-fit: cover;
}
.boton-menu{
    width: 400px;
}

/* Pagina Contacto */
.cajas{
    align-items: justyfied;
}

#descripcionProblema{
    height: 100px;
}

.contacto{
    align-items: center;
    text-align: start;
    font-weight: 700;
    margin: 15%;
}
.contacto  #botonContacto{
    text-align: center;
}
.contacto div{
    align-items: center;
    margin-top: 2%;
}

/* Pagina Mecanico */
.card {
    align-items: center;
}

/* Pagina Registro */
form{
    margin: 1%;
}
#caja{
    text-align: center;
    word-spacing: 2px;
    font-weight: 400;
    font-size: 24px;
    align-items: center;
    padding: 1%;
    border: solid 1px;
    margin: 10%;
    border-radius: 10px;
    background: radial-gradient(circle at 36.97% 42.48%, #ffffff 0, #ffffff 16.67%, #fff9fb 33.33%, #eeeeee 50%, #dbe3e0 66.67%, #cad8d3 83.33%, #bacec6 100%);
}
div > a{
    font-size: small;
}
.formulario input{
    text-align: center;
}